* {
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif; 
}
body {
    margin: 0;
    color: #225762;
    text-align: center;
}
.hide {
    display: none;
}
.pointer {
    cursor: pointer; 
}
h1 {
    margin: 0; 
}
header {
    background: #225762;
    color: white;
    padding: 1rem; 
}
.underline {
    text-decoration: underline; 
}
.rules img {
    width: 20rem;
}
.weapon-wrap {
    padding: 1rem;
    background: #589595; 
    @include for-phone-only {
        background: red;
    }
}
.weapon-wrap .weapon {
    width: 10rem;
    margin: .5rem;
}
.p1-weapon, .p2-weapon {
    position: absolute;
}
.p1-weapon {
    left: 10rem;
}
.p2-weapon {
    right: 10rem; 
}
.p1-weapon img, .p2-weapon img {
    width: 9rem; 
}

/* @media screen and (max-width: 600px) {
    .weapon-wrap {
        margin-bottom: 100px !important;
    }
    .rules {
        margin-top: 100px;
    }
    header {
        background: red !important;
        color: white;
        padding: 1rem; 
    }
} */
      
/* @media screen and (max-width: 1800px) {
    .weapon {
        width: 8rem !important;
    }
    .p1-weapon {
        left: 5rem !important;
    }
    .p2-weapon {
        right: 5rem !important; 
    }
    header {
        background: red !important;
    }
}
@media screen and (max-width: 1200px) {
    h2 {
        margin-bottom: 0;
    }
    .weapon {
        width: 5rem !important;
    }
    .p1-weapon img, .p2-weapon img {
    width: 6rem; 
    }
    header {
        background: red !important;
    }
}
@media screen and (max-width: 900px) {
    .weapon {
        width: 8rem !important;
    }
    header {
        background: green !important;
    }
}
@media screen and (max-width: 600px) {
    .weapon {
        width: 6rem !important;
    }
    header {
        background: orange !important;
    }
}
@media screen and (max-width: 418px) {
    .p1-weapon {
        left: .5rem; 
    }
    .p2-weapon {
        right: .25rem; 
    }
    header {
        background: purple !important;
    }
} */